.view-class {
  height: 40px;
  width: 100%;
  display: table-cell;
  vertical-align: bottom;
  background: #FFFF8D;
}


.flat-button {
  height: 30px;
  margin-left: 10px;
  margin-top: 20px;
  border: 1px solid #4DB2EA;
  background: #F4F4F4;
  box-shadow: none;
  text-align: center;
}
