.classroom-card {
  height: 100%;
  position: relative;
  text-align: center;
}

.card-header {
  width: 80%;
  margin: 0 auto !important;
  display: inline-block;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.centered-div {
  margin: 0 auto;
  display: table
}
