.student-header {
  text-align: center;
}

.new-conference {
  background-color: #c23b22;
  border: none;
  color: white;
  height: 50px;
  margin-bottom: 25px;
  border-radius: 4px;
  display: inline-block;
}

#student-card {
  width: 100%;
  margin: 0 auto;
}

.student-info {
  border: 1px solid black;
  border-radius: 4px;
  background-color: #E0E0E0;
}

.conference-details {
  margin-top: 80px;
}

.conference-dropdown {
  border: 1px solid black;
}
